<!-- your html code here -->
<div class="container">
    <style>
        body {
            background: #ffffff;
        }
    </style>



    <h1>Experience the new Connecting <spang class="text-muted">Air&lt;Line.&gt;</spang>
    </h1>
    <div class="d-inline-flex">
        <div class="d-flex justify-content-between">

            <p>You deserve to arrived refreshed so strech out in one of our luxurious cabins, relax with your favorite
                food and beverage and enjoy a wide variety of free entertainment. Explore fligth deals to places you
                already love or discover new destinations that await you. Plan your next adventure today.</p>


            <img src="https://es.delta.com/content/dam/delta-com/products/delta-experiences/main-cabin/mc-international-serving-food-1042.jpg"
                width="300px" class="rounded-circle" alt="Eniun">
        </div>
    </div>