<!-- your html code here -->
<div class="container p-4">
    <h1>
        <strong>Experience the new Connecting <spang class="text-muted">Air&lt;Line&gt;</spang></strong>
    </h1>
    <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-9">
            <p class="align-self-center fs-4" style="text-align: justify;">You deserve to arrive refreshed so stretched
                out
                in one of our luxury
                Cabins, relax with your favorite
                Food and beverage and enjoy a wide variety of free entertainment. Explore flight deals to places you
                Already love or discover new destinations that await you. Plan your next adventure today.
            </p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center ">
            <img src="https://es.delta.com/content/dam/delta-com/products/delta-experiences/main-cabin/mc-international-serving-food-1042.jpg"
                width="300px" class="rounded-circle" alt="Eniun" id="imagen1" class="izquierda">
        </div>
    </div>